name: CI/CD Microservicios Golang

on:
  push:
    branches: [ "main" ]
    tags:
      - "v*.*.*"
  pull_request:
    branches: [ "main" ]

jobs:

  build-and-push:
    name: Build and Push ${{ matrix.service }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [create-service, read-service, update-service, delete-service]

    steps:
      - uses: actions/checkout@v4

      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login a Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login a GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extraer metadatos de la imagen (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ secrets.DOCKERHUB_USER }}/${{ matrix.service }}
            ghcr.io/${{ github.repository_owner }}/${{ matrix.service }}

      - name: Construir y subir imagen (Docker Hub y GHCR)
        uses: docker/build-push-action@v5
        with:
          context: ./services/${{ matrix.service }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  security_scan:
    name: Escaneo con Trivy
    runs-on: ubuntu-latest
    needs: build-and-push
    strategy:
      matrix:
        service: [create-service, read-service, update-service, delete-service]

    steps:
      - name: Ejecutar Trivy para ${{ matrix.service }}
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.DOCKERHUB_USER }}/${{ matrix.service }}:latest
          format: "table"
          exit-code: "0"

  release:
    name: Crear Release
    runs-on: ubuntu-latest
    needs: security_scan
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - name: Crear Release en GitHub
        uses: softprops/action-gh-release@v2
        with:
          name: "Release ${{ github.ref_name }}"
          tag_name: ${{ github.ref_name }}
          draft: false
          prerelease: false

